<!DOCTYPE html>
<html>
    <head>
        <title>登入啦</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form method="POST" style="margin-top:0%;">
            {% csrf_token %}
            <div class="col-md-4" style="width:33%;height:100%;background-color:#00DDDD;margin:0 auto;">
                <div class="row justify-content-center" stytle='font-size:1.2cm;margin:0 auto;'>
                    <span style="font-size:50px;font-weight:bold;">Login</span>
                </div>
                <div>
                    <br>帳號：
                    <input class="form-control mr-sm-2" name="account" placeholder="Mail or username" type="text" />
                </div>
                <div>
                    <br>密碼：
                    <input class="form-control mr-sm-2" name="password" placeholder="Password" type="text" />
                </div>
                <div>
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0 pull-left" type="submit">
                        登入
                    </button>
                    <a href="http://127.0.0.1:8000/auth/register/">
                        <button id="register" class="btn btn-primary my-2 my-sm-0 pull-right" type="button">
                            註冊
                        </button>
                    </a>
                    <a href="http://127.0.0.1:8000">
                        <button id="register" class="btn btn-primary my-2 my-sm-0 pull-right" type="button">
                            返回
                        </button>
                    </a>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            {% if account_pass == False %}
                alert("帳號密碼錯誤");
            {% endif %}
        </script>
    </body>
</html>