<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<html>
	<head>
		<title>Tim parity web</title>
	</head>
	<body>
		<form class="form-inline" method="POST" style="margin-top:0%;">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%;height:100">
						<div class="col-md-4" style="width:33%;height:100%;background-color:#00DDDD;">
							<a class="navbar-brand" href="#" style="margin-top:5%;">陳廷比價網</a>
						</div>
						<div class="col-md-4" style="width:33%;height:100%;background-color:#00DDDD;">
							<div>
								<input class="form-control mr-sm-2" name="search_text" placeholder="請輸入關鍵字" type="text" />
								{% csrf_token %}
									<button class="btn btn-primary my-2 my-sm-0" type="submit">
										搜尋
									</button>
							</div>
							<div>
								金額範圍:
								<input class="col-md-3" name="min_pric" type="number">
								~
								<input class="col-md-3" name="max_pric" type="number">
							</div>
						</div>
						<div class="col-md-4" style="width:33%;height:100%;background-color:#00DDDD;">
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top:5%;">
								<ul class="navbar-nav ml-md-auto">
									<li class="nav-item active" style="">
										<a class="nav-link" href="#">登入 <span class="sr-only">(current)</span></a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-12">
								{% csrf_token %}
								<input type="checkbox" name="checkstore" value="pchome" checked> PChome<br>
								<input type="checkbox" name="checkstore" value="rakuten" checked> 樂天購物<br>
								<input type="checkbox" name="checkstore" value="etmall" checked> 東森購物<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12"><br>
								兒國吸近記備新化有那溫全告百望保他正多，發在S。安天的司意長整後是口相張；果我話，層入及王，義家是建談；用場支計減子就平樂濟辦續理呢是了；你面學平友性務各眾臺可見止裡工有客直藝差無羅溫地優萬何生只生家第得作益作者營北的創打事來遊黃果少！
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								{% for good in goods %}
								<a href="{{good.link}}">{{good.name}}</a>
								<div class="float-right">price: {{good.price}}</div>
								<br>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>