<html>
    <HEAD>
        <style>header {background-color:#6495ed;}
        </style>
        <TITLE>Tim parity web</TITLE>
    </HEAD>
    <body >
        <header>
            <div class="logo" align="left" text=#00BFFF>陳廷比價網</die>
            <div class="login" align="right">登入</div>
            <div class="inputbox" align="center">
                <input class="search" type="text" placeholder="輸入查詢關鍵字">
                <INPUT TYPE="SUBMIT" VALUE="送出資料">
            </div>
        </header>
    </body>
</html>
