<!DOCTYPE html>
<html>
    <head>
        <title>註冊啦</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form method="POST" style="margin-top:0%;">
            {% csrf_token %}
            <div class="col-md-4" style="width:33%;height:100%;background-color:#00DDDD;margin:0 auto;">
                <div class="row justify-content-center" stytle='font-size:1.2cm;margin:0 auto;'>
                    <span style="font-size:50px;font-weight:bold;">Register</span>
                </div>
                <div>
                    <br>使用者名稱：
                    <input class="form-control mr-sm-2" name="username" placeholder="Username" type="text" />
                </div>
                <div>
                    <br>帳號：
                    <input class="form-control mr-sm-2" name="mail" placeholder="Mail" type="text" />
                </div>
                <div>
                    <br>密碼：
                    <input class="form-control mr-sm-2" name="password" placeholder="Password" type="text" />
                </div>
                <div>
                    <br>
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">
                        註冊
                    </button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            {% if complete == False %}
                alert("資料不完整，名稱、信箱重複,或信箱不符合格式");
            {% endif %}
        </script>
    </body>
</html>